# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List some of the most popular languages used by Data Scientists
* List some of the libraries most commonly used by Data Scientists
* Show how to make basic arithmetic calculations in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. Pandas
3. Plotly

| Data Science Tools |
| --------------- |
| JupyterLab |
| Spyder |
| Pycharm |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is how can make basic arithmetic operations

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

h = 200/60
print("200 min are " + str(h) + " hours")

200 min are 3.3333333333333335 hours

## Author
Cesar Avelar